<h1>So Cliche Wines</h1>
<h2>Our wine is crafted from the finest grapes in all the land.
    Blood sweat and tears went into producing this delicious set of wines.
    We aren't jacks of all trades, but rather masters of one. Our hope is that you will enjoy drinking
    our wine as much as we love making it.</h2>
<div class="bottle-photo-container-maple-table">
    <svg width="740" height="987">
        <image href="./assets/BottleImages/NearAndDearToYourHeart2016.JPG" src="svg.jpg" width="740" height="987" class="bottle-photo-maple-table" />
    </svg>
</div>