/*body {
    
}*/
.navbar-brand{
    padding:0 !important;
    background-color: blue;
    float: none;
}
.bottle-photo-container-maple-table {
    padding-left: 200px !important;
    padding-right: 200px;
}



